{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "error",
    "comma-dangle": ["none", "never"],
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
  },
}
